@{
    ViewData["Title"] = "Sjekkliste";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sjekkliste</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        .avdeling {
            margin: 0 auto;
            margin-top: 20px;
            max-width: 800px;
            border: 2px solid black;
            border-radius: 8px;
            padding: 10px;
            position: relative;
            background: white;
        }

        .sjekkpunkt {
            margin-bottom: 10px;
            border: 1px solid black;
            padding: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
        }

        .sjekkpunkt-container {
            display: flex;
            justify-content: space-between;
            align-content: center;
        }

        .radio-container {
            display: flex;
            flex-direction: row;
            text-align: right;
            margin-left: 5px;
            margin-right: 5px;
        }

            .radio-container label {
                margin-right: 20px;
                margin-left: 5px;
            }

        .status {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            top: -15px;
            right: -15px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }

        .gronn {
            background-color: green;
            color: white;
        }

        .rod {
            background-color: red;
            color: white;
        }

        .gul {
            background-color: yellow;
            color: black;
        }

        .tomKnapp {
            margin-top: 10px;
        }

        .white {
            background: white;
        }
    </style>
</head>

<body>
    <div class="avdeling" id="avdeling1">
        <label for="dato">Dato:</label>
        <input type="date" id="dato" name="dato" required>
        <br>
        <br>

        <label for="godkjentAv">Godkjent av:</label>
        <input type="text" id="godkjentAv" name="godkjentAv" required>
        <br>
        <br>

        <label for="utarbeidetAv">Utarbeidet av:</label>
        <input type="text" id="utarbeidetAv" name="utarbeidetAv" required>
        <br>
        <br>
    </div>


    <div class="avdeling" id="avdeling2">
        <div class="status"></div>
        <h2>Mekanisk:</h2>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk clutch lameller for slitasje:</span>
                <div class="radio-container">

                    <input type="radio" id="avd1sp1_ok" name="avd1sp1" value="OK">
                    <label for="avd1sp1_ok">OK</label>

                    <input type="radio" id="avd1sp1_skiftes" name="avd1sp1" value="Bør skiftes">
                    <label for="avd1sp1_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd1sp1_defekt" name="avd1sp1" value="Defekt">
                    <label for="avd1sp1_defekt">Defekt</label>


                </div>
            </div>
        </div>

        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk bremser. BåndsPal:</span>
                <div class="radio-container">
                    <input type="radio" id="avd1sp2_ok" name="avd1sp2" value="OK">
                    <label for="avd1sp2_ok">OK</label>

                    <input type="radio" id="avd1sp2_skiftes" name="avd1sp2" value="Bør skiftes">
                    <label for="avd1sp2_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd1sp2_defekt" name="avd1sp2" value="Defekt">
                    <label for="avd1sp2_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk lager for trommel:</span>
                <div class="radio-container">
                    <input type="radio" id="avd1sp3_ok" name="avd1sp3" value="OK">
                    <label for="avd1sp3_ok">OK</label>

                    <input type="radio" id="avd1sp3_skiftes" name="avd1sp3" value="Bør skiftes">
                    <label for="avd1sp3_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd1sp3_defekt" name="avd1sp3" value="Defekt">
                    <label for="avd1sp3_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk PTO og opplagring:</span>
                <div class="radio-container">
                    <input type="radio" id="avd1sp4_ok" name="avd1sp4" value="OK">
                    <label for="avd1sp4_ok">OK</label>

                    <input type="radio" id="avd1sp4_skiftes" name="avd1sp4" value="Bør skiftes">
                    <label for="avd1sp4_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd1sp4_defekt" name="avd1sp4" value="Defekt">
                    <label for="avd1sp4_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk kjedestrammer:</span>
                <div class="radio-container">
                    <input type="radio" id="avd1sp5_ok" name="avd1sp5" value="OK">
                    <label for="avd1sp5_ok">OK</label>

                    <input type="radio" id="avd1sp5_skiftes" name="avd1sp5" value="Bør skiftes">
                    <label for="avd1sp5_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd1sp5_defekt" name="avd1sp5" value="Defekt">
                    <label for="avd1sp5_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk wire:</span>
                <div class="radio-container">
                    <input type="radio" id="avd1sp6_ok" name="avd1sp6" value="OK">
                    <label for="avd1sp6_ok">OK</label>

                    <input type="radio" id="avd1sp6_skiftes" name="avd1sp6" value="Bør skiftes">
                    <label for="avd1sp6_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd1sp6_defekt" name="avd1sp6" value="Defekt">
                    <label for="avd1sp6_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk pinion lager:</span>
                <div class="radio-container">
                    <input type="radio" id="avd1sp7_ok" name="avd1sp7" value="OK">
                    <label for="avd1sp7_ok">OK</label>

                    <input type="radio" id="avd1sp7_skiftes" name="avd1sp7" value="Bør skiftes">
                    <label for="avd1sp7_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd1sp7_defekt" name="avd1sp7" value="Defekt">
                    <label for="avd1sp7_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk kile på kjedehjul:</span>
                <div class="radio-container">
                    <input type="radio" id="avd1sp8_ok" name="avd1sp8" value="OK">
                    <label for="avd1sp8_ok">OK</label>

                    <input type="radio" id="avd1sp8_skiftes" name="avd1sp8" value="Bør skiftes">
                    <label for="avd1sp8_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd1sp8_defekt" name="avd1sp8" value="Defekt">
                    <label for="avd1sp8_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <button class="tomKnapp" type="button" onclick="tømAvdeling('avd1sp1', 'avd1sp2', 'avd1sp3', 'avd1sp4')">Tøm</button>
    </div>

    <div class="avdeling">
        <div class="status"></div>
        <h2>Hydraulisk:</h2>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk hydraulikk sylinder for lekkasje:</span>
                <div class="radio-container">
                    <input type="radio" id="avd2sp1_ok" name="avd2sp1" value="OK">
                    <label for="avd2sp1_ok">OK</label>

                    <input type="radio" id="avd2sp1_skiftes" name="avd2sp1" value="Bør skiftes">
                    <label for="avd2sp1_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd2sp1_defekt" name="avd2sp1" value="Defekt">
                    <label for="avd2sp1_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk slanger for skader og lekkasje:</span>
                <div class="radio-container">
                    <input type="radio" id="avd2sp2_ok" name="avd2sp2" value="OK">
                    <label for="avd2sp2_ok">OK</label>

                    <input type="radio" id="avd2sp2_skiftes" name="avd2sp2" value="Bør skiftes">
                    <label for="avd2sp2_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd2sp2_defekt" name="avd2sp2" value="Defekt">
                    <label for="avd2sp2_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Test hydraulikkblokk i testbenk:</span>
                <div class="radio-container">
                    <input type="radio" id="avd2sp3_ok" name="avd2sp3" value="OK">
                    <label for="avd2sp3_ok">OK</label>

                    <input type="radio" id="avd2sp3_skiftes" name="avd2sp3" value="Bør skiftes">
                    <label for="avd2sp3_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd2sp3_defekt" name="avd2sp3" value="Defekt">
                    <label for="avd2sp3_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Skift olje i tank:</span>
                <div class="radio-container">
                    <input type="radio" id="avd2sp4_ok" name="avd2sp4" value="OK">
                    <label for="avd2sp4_ok">OK</label>

                    <input type="radio" id="avd2sp4_skiftes" name="avd2sp4" value="Bør skiftes">
                    <label for="avd2sp4_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd2sp4_defekt" name="avd2sp4" value="Defekt">
                    <label for="avd2sp4_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Skift olje på gir boks:</span>
                <div class="radio-container">
                    <input type="radio" id="avd2sp5_ok" name="avd2sp5" value="OK">
                    <label for="avd2sp5_ok">OK</label>

                    <input type="radio" id="avd2sp5_skiftes" name="avd2sp5" value="Bør skiftes">
                    <label for="avd2sp5_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd2sp5_defekt" name="avd2sp5" value="Defekt">
                    <label for="avd2sp5_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk Ringsylinder åpne og skift tetninger:</span>
                <div class="radio-container">
                    <input type="radio" id="avd2sp6_ok" name="avd2sp6" value="OK">
                    <label for="avd2sp6_ok">OK</label>

                    <input type="radio" id="avd2sp6_skiftes" name="avd2sp6" value="Bør skiftes">
                    <label for="avd2sp6_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd2sp6_defekt" name="avd2sp6" value="Defekt">
                    <label for="avd2sp6_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk bremse sylinder åpne og skift tetninger:</span>
                <div class="radio-container">
                    <input type="radio" id="avd2sp7_ok" name="avd2sp7" value="OK">
                    <label for="avd2sp7_ok">OK</label>

                    <input type="radio" id="avd2sp7_skiftes" name="avd2sp7" value="Bør skiftes">
                    <label for="avd2sp7_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd2sp7_defekt" name="avd2sp7" value="Defekt">
                    <label for="avd2sp7_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <button class="tomKnapp" type="button" onclick="tømAvdeling('avd2sp1', 'avd2sp2', 'avd2sp3', 'avd2sp4')">Tøm</button>
    </div>

    <div class="avdeling">
        <div class="status"></div>
        <h2>Elektro:</h2>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk ledningsnett på vinsj:</span>
                <div class="radio-container">
                    <input type="radio" id="avd3sp1_ok" name="avd3sp1" value="OK">
                    <label for="avd3sp1_ok">OK</label>

                    <input type="radio" id="avd3sp1_skiftes" name="avd3sp1" value="Bør skiftes">
                    <label for="avd3sp1_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd3sp1_defekt" name="avd3sp1" value="Defekt">
                    <label for="avd3sp1_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk og test radio:</span>
                <div class="radio-container">
                    <input type="radio" id="avd3sp2_ok" name="avd3sp2" value="OK">
                    <label for="avd3sp2_ok">OK</label>

                    <input type="radio" id="avd3sp2_skiftes" name="avd3sp2" value="Bør skiftes">
                    <label for="avd3sp2_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd3sp2_defekt" name="avd3sp2" value="Defekt">
                    <label for="avd3sp2_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Sjekk og test knappekasse:</span>
                <div class="radio-container">
                    <input type="radio" id="avd3sp3_ok" name="avd3sp3" value="OK">
                    <label for="avd3sp3_ok">OK</label>

                    <input type="radio" id="avd3sp3_skiftes" name="avd3sp3" value="Bør skiftes">
                    <label for="avd3sp3_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd3sp3_defekt" name="avd3sp3" value="Defekt">
                    <label for="avd3sp3_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <button class="tomKnapp" type="button" onclick="tømAvdeling('avd2sp1', 'avd2sp2', 'avd2sp3', 'avd2sp4')">Tøm</button>
    </div>

    <div class="avdeling">
        <div class="status"></div>
        <h2>Trykk settinger:</h2>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>xx - Bar:</span>
                <div class="radio-container">
                    <input type="radio" id="avd4sp1_ok" name="avd4sp1" value="OK">
                    <label for="avd4sp1_ok">OK</label>

                    <input type="radio" id="avd4sp1_skiftes" name="avd4sp1" value="Bør skiftes">
                    <label for="avd4sp1_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd4sp1_defekt" name="avd4sp1" value="Defekt">
                    <label for="avd4sp1_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <button class="tomKnapp" type="button" onclick="tømAvdeling('avd2sp1', 'avd2sp2', 'avd2sp3', 'avd2sp4')">Tøm</button>
    </div>

    <div class="avdeling">
        <div class="status"></div>
        <h2>Funksjonstest:</h2>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Test vinsj og kjør alle funksjoner:</span>
                <div class="radio-container">
                    <input type="radio" id="avd5sp1_ok" name="avd5sp1" value="OK">
                    <label for="avd5sp1_ok">OK</label>

                    <input type="radio" id="avd5sp1_skiftes" name="avd5sp1" value="Bør skiftes">
                    <label for="avd5sp1_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd5sp1_defekt" name="avd5sp1" value="Defekt">
                    <label for="avd5sp1_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>I rekkratt KN:</span>
                <div class="radio-container">
                    <input type="radio" id="avd5sp2_ok" name="avd5sp2" value="OK">
                    <label for="avd5sp2_ok">OK</label>

                    <input type="radio" id="avd5sp2_skiftes" name="avd5sp2" value="Bør skiftes">
                    <label for="avd5sp2_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd5sp2_defekt" name="avd5sp2" value="Defekt">
                    <label for="avd5sp2_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <div class="sjekkpunkt">
            <div class="sjekkpunkt-container">
                <span>Bremse kraft KN:</span>
                <div class="radio-container">
                    <input type="radio" id="avd5sp3_ok" name="avd5sp3" value="OK">
                    <label for="avd5sp3_ok">OK</label>

                    <input type="radio" id="avd5sp3_skiftes" name="avd5sp3" value="Bør skiftes">
                    <label for="avd5sp3_skiftes">Bør skiftes</label>

                    <input type="radio" id="avd5sp3_defekt" name="avd5sp3" value="Defekt">
                    <label for="avd5sp3_defekt">Defekt</label>

                </div>
            </div>
        </div>
        <button class="tomKnapp" type="button" onclick="tømAvdeling('avd2sp1', 'avd2sp2', 'avd2sp3', 'avd2sp4')">Tøm</button>
    </div>
    <br />
    <div class="avdeling">
        <label for="kommentarer">Kommentar:</label>
        <input type="text" id="kommentarer" name="kommentarer" required>
    </div>
    <br>
    <br />

    <script>
        const avdelinger = document.querySelectorAll('.avdeling');
        const tømKnapper = document.querySelectorAll('.tomKnapp');

        avdelinger.forEach((avdeling, index) => {
            const sjekkpunkter = avdeling.querySelectorAll('input[type="radio"]');
            const statusBoks = avdeling.querySelector('.status');

            sjekkpunkter.forEach(sjekkpunkt => {
                sjekkpunkt.addEventListener('change', () => oppdaterStatus(sjekkpunkter, statusBoks));
            });

            tømKnapper[index].addEventListener('click', () => {
                tømAvdeling(sjekkpunkter);
            });
        });

        function tømAvdeling(department, sjekkpunkter) {
            const departmentCheckboxes = document.querySelectorAll(`input[name^="${department}"]`);

            departmentCheckboxes.forEach(checkbox => {
                checkbox.checked = false;

                // Assuming there's a checkbox element associated with each department
                const departmentCheckbox = checkbox.closest('.avdeling').querySelector('.department-checkbox');
                if (departmentCheckbox) {
                    departmentCheckbox.remove();
                }
            });

            oppdaterStatus(sjekkpunkter);
        }




        function oppdaterStatus(sjekkpunkter, statusBoks) {
            let enDefekt = false;
            let enBorSkiftes = false;
            let alleOk = true;

            sjekkpunkter.forEach(sjekkpunkt => {
                if (sjekkpunkt.value === 'Defekt' && sjekkpunkt.checked) {
                    enDefekt = true;
                } else if (sjekkpunkt.value === 'Bør skiftes' && sjekkpunkt.checked) {
                    enBorSkiftes = true;
                } else if (sjekkpunkt.value === 'OK' && sjekkpunkt.checked) {
                    alleOk = true;
                } else if (sjekkpunkt.checked) {
                    alleOk = false;
                }
            });

            if (enDefekt) {
                statusBoks.textContent = 'X';
                statusBoks.classList.remove('gronn', 'gul');
                statusBoks.classList.add('rod');
            } else if (enBorSkiftes) {
                statusBoks.textContent = '!';
                statusBoks.classList.remove('gronn', 'rod');
                statusBoks.classList.add('gul');
            } else if (alleOk) {
                statusBoks.textContent = '✔';
                statusBoks.classList.remove('rod', 'gul');
                statusBoks.classList.add('gronn');
            } else {
                statusBoks.textContent = '';
            }
        }
    </script>
</body>