@using AdminDesk.Models.ServiceOrdrer;
@model ServiceOrderFullViewModel

<link rel="stylesheet" href="@Url.Content("~/css/form.css")">

<form asp-action="Post" asp-controller="ServiceOrder" method="post">
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <label asp-for="UpsertModel.Mechanic"></label>
    <input asp-for="UpsertModel.Mechanic" type="text" /><br />

    <label asp-for="UpsertModel.SerialNumber"></label>
    <input asp-for="UpsertModel.SerialNumber" type="text" /><br />

    <label asp-for="UpsertModel.CreatedDate"></label>
    <input asp-for="UpsertModel.CreatedDate" type="text" /><br />


    <label asp-for="UpsertModel.CustomerCity"></label>
    <input asp-for="UpsertModel.CustomerCity" type="text" /><br />

    <label asp-for="UpsertModel.CustomerComment"></label>
    <input asp-for="UpsertModel.CustomerComment" type="text" /><br />

    <label asp-for="UpsertModel.CustomerEmail"></label>
    <input asp-for="UpsertModel.CustomerEmail" type="text" /><br />

    <label asp-for="UpsertModel.CustomerName"></label>
    <input asp-for="UpsertModel.CustomerName" type="text" /><br />

    <label asp-for="UpsertModel.CustomerStreet"></label>
    <input asp-for="UpsertModel.CustomerStreet" type="text" /><br />

    <label asp-for="UpsertModel.CustomerTelephoneNumber"></label>
    <input asp-for="UpsertModel.CustomerTelephoneNumber" type="text" /><br />

    <label asp-for="UpsertModel.CustomerZipcode"></label>
    <input asp-for="UpsertModel.CustomerZipcode" type="text" /><br />

    <label asp-for="UpsertModel.FutureMaintenance"></label>
    <input asp-for="UpsertModel.FutureMaintenance" type="text" /><br />

    <label asp-for="UpsertModel.IsAdministrator"></label>
    <input asp-for="UpsertModel.IsAdministrator" type="text" /><br />

    <label asp-for="UpsertModel.MechanicComment"></label>
    <input asp-for="UpsertModel.MechanicComment" type="text" /><br />

    <label asp-for="UpsertModel.ServiceOrderId"></label>
    <input asp-for="UpsertModel.ServiceOrderId" type="text" /><br />


    <label asp-for="UpsertModel.ConsumedHours"></label>
    <input asp-for="UpsertModel.ConsumedHours" type="number" />
    @Html.ValidationMessageFor(x=>x.UpsertModel.ConsumedHours)<br />
    <input type="submit" />

</form>