@using AdminDesk.Models.ServiceOrder;
@model ServiceOrderFullViewModel

<style>
    body {
        background-color: #d9e5eb;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: #313638;
    }

    #create-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 2%;
    }

    .form-container {
        max-width: 60rem; /* Increase the max-width as needed */
        width: 100%;
        background-color: white;
        padding: 2%;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 0.5rem;
    }

    .button {
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: #88afc2;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: black;
        text-decoration: none;
        margin: 2% 0;
    }

        .button:hover {
            background-color: rgb(251, 114, 19);
        }

    .customer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .customer-group {
        flex-basis: 48%; /* Adjust the width as needed */
        box-sizing: border-box;
    }

    .customer-comment-group {
        width: 100%;
        box-sizing: border-box;
    }

    .form-control {
        /* Add any common styling for form controls */
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 0.5rem;
    }

    .text-danger {
        color: red;
    }
</style>



<p>
    <a href="@Url.Action("Spesific", "ServiceOrder", new { id = @Model.UpsertModel.ServiceOrderId })">Tilbake</a>
</p>

<div id="create-container">
    <h1>Edit</h1>
    <h4>Service Order</h4>

    <div class="form-container">
        <form asp-action="EditChange" asp-controller="ServiceOrder" method="post">

            @Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <input asp-for="UpsertModel.ServiceOrderId" type="hidden" />
            <input asp-for="UpsertModel.CustomerId" type="hidden" />
            <input asp-for="UpsertModel.Customer.CustomerId" type="hidden" />


            <div class="customer-container">
                <div class="customer-group">
                    <!-- Other form fields ... -->

                    <div class="form-group">
                        <label asp-for="UpsertModel.Mechanic"></label>
                        <input asp-for="UpsertModel.Mechanic" class="form-control" />
                        <span asp-validation-for="UpsertModel.Mechanic" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UpsertModel.CreatedDate"></label>
                        <input asp-for="UpsertModel.CreatedDate" type="date" class="form-control" />
                        <span asp-validation-for="UpsertModel.CreatedDate" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <label asp-for="UpsertModel.FutureMaintenance"></label>
                        <input asp-for="UpsertModel.FutureMaintenance" class="form-control" />
                        <span asp-validation-for="UpsertModel.FutureMaintenance" class="text-danger"></span>
                    </div>

                    <!-- Add other form fields ... -->
                </div>

                <div class="customer-group">
                    <!-- Other form fields ... -->

                    <div class="form-group">
                        <label asp-for="UpsertModel.SerialNumber"></label>
                        <input asp-for="UpsertModel.SerialNumber" class="form-control" />
                        <span asp-validation-for="UpsertModel.SerialNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UpsertModel.OrderStatus"></label>
                        <input asp-for="UpsertModel.OrderStatus" class="form-control" />
                        <span asp-validation-for="UpsertModel.OrderStatus" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UpsertModel.TotalWorkHours"></label>
                        <input asp-for="UpsertModel.TotalWorkHours" class="form-control" />
                        <span asp-validation-for="UpsertModel.TotalWorkHours" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="UpsertModel.CreatedById" class="form-control" />

                    <!-- Add other form fields ... -->
                </div>

                <div class="form-group">
                    <label asp-for="UpsertModel.Comment"></label>
                    <input asp-for="UpsertModel.Comment" class="form-control" />
                    <span asp-validation-for="UpsertModel.Comment" class="text-danger"></span>
                </div>
            </div>

            <!-- Add other form fields ... -->

            <div class="customer-container">
                <div class="customer-group">
                    <!-- Other form fields ... -->

                    <div class="form-group">
                        <label asp-for="UpsertModel.Customer.CustomerFirstName"></label>
                        <input asp-for="UpsertModel.Customer.CustomerFirstName" class="form-control" />
                        <span asp-validation-for="UpsertModel.Customer.CustomerFirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UpsertModel.Customer.CustomerEmail"></label>
                        <input asp-for="UpsertModel.Customer.CustomerEmail" class="form-control" />
                        <span asp-validation-for="UpsertModel.Customer.CustomerEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpsertModel.Customer.CustomerStreet"></label>
                        <input asp-for="UpsertModel.Customer.CustomerStreet" class="form-control" />
                        <span asp-validation-for="UpsertModel.Customer.CustomerStreet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpsertModel.Customer.CustomerZipcode"></label>
                        <input asp-for="UpsertModel.Customer.CustomerZipcode" class="form-control" />
                        <span asp-validation-for="UpsertModel.Customer.CustomerZipcode" class="text-danger"></span>
                    </div>

                    <!-- Add other form fields ... -->
                </div>

                <div class="customer-group">
                    <!-- Other form fields ... -->

                    <div class="form-group">
                        <label asp-for="UpsertModel.Customer.CustomerLastName"></label>
                        <input asp-for="UpsertModel.Customer.CustomerLastName" class="form-control" />
                        <span asp-validation-for="UpsertModel.Customer.CustomerLastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UpsertModel.Customer.CustomerPhoneNumber"></label>
                        <input asp-for="UpsertModel.Customer.CustomerPhoneNumber" class="form-control" />
                        <span asp-validation-for="UpsertModel.Customer.CustomerPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpsertModel.Customer.CustomerCity"></label>
                        <input asp-for="UpsertModel.Customer.CustomerCity" class="form-control" />
                        <span asp-validation-for="UpsertModel.Customer.CustomerCity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpsertModel.Customer.CustomerPhoneNumber"></label>
                        <input asp-for="UpsertModel.Customer.CustomerPhoneNumber" class="form-control" />
                        <span asp-validation-for="UpsertModel.Customer.CustomerPhoneNumber" class="text-danger"></span>
                    </div>

                    <!-- Add other form fields ... -->
                </div>
            </div>

            <div class="customer-comment-group">
                <div class="form-group">
                    <label asp-for="UpsertModel.Customer.CustomerComment"></label>
                    <input asp-for="UpsertModel.Customer.CustomerComment" class="form-control" />
                    <span asp-validation-for="UpsertModel.Customer.CustomerComment" class="text-danger"></span>
                </div>
            </div>

            <input type="submit" value="Save" class="button" />
        </form>
    </div>
</div>
