@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Konfigurer autentiserings app";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
    <p>To use an authenticator app go through the following steps:</p>
    <ol class="list">
        <li>
            <p>
                Last ned en to-faktor autentiseringsapp som Microsoft Authenticator for
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> eller
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> eller
                Google Authenticator for
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> eller
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Skann QR-koden eller skriv inn denne nøkkelen <kbd>@Model.SharedKey</kbd> inn i din tofaktorautentiseringsapp.</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                Når du har skannet QR-koden eller tastet inn nøkkelen ovenfor, vil din tofaktorautentiseringsapp gi deg
                en unik kode. Skriv inn koden i bekreftelsesboksen nedenfor.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" placeholder="Vennligst skriv inn koden." />
                            <label asp-for="Input.Code" class="control-label form-label">Bekreftelseskode</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Bekreft</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript" src="~/lib/qrcode.js"></script>
    <script type="text/javascript" src="~/js/qr.js"></script>
}