@page "{id}"
@model AdminDesk.Areas.Identity.Pages.Account.Manage.UserEditModel


<h1>Edit User</h1>

@Html.AntiForgeryToken()
<form method="post" asp-page="./UserEdit" asp-route-id="@Model.User.Id" asp-page-handler="OnPostAsync">
    <input type="hidden" asp-for="User.Id" />
    <div>
        <label asp-for="User.UserName"></label>
        <input asp-for="User.UserName" class="form-control" />
    </div>

    <div>
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" class="form-control" />
    </div>

    <div>
        <label asp-for="User.PhoneNumber"></label>
        <input asp-for="User.PhoneNumber" class="form-control" />
    </div>

    <!-- Add other fields as needed -->

    <button type="submit" class="btn btn-primary">Save</button>
</form>

}