/* Stiler for det tilpassede navigasjonsfeltet */
.custom-navbar {
    background-color: #88afc2; /* Bakgrunnsfarge */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%; /* Full bredde */
}

/* Stiler for primærknapp (f.eks., "Search") */
.btn-primary {
    color: #fff; /* Tekstfarge */
    background-color: #1b6ec2; /* Bakgrunnsfarge */
    border-color: #1861ac; /* Farge på grensen */
}

/* Stiler for navigasjonslenker */
.nav-link {
    color: red; /* Tekstfarge for navigasjonslenker */
    background-color: #1b6ec2; /* Bakgrunnsfarge for navigasjonslenker */
    border-color: #1861ac; /* Farge på grensen for navigasjonslenker */
}

/* Stiler for øvre grense */
.border-top {
    border-top: 1px solid #e5e5e5; /* Øvre grense med farge */
}

/* Boks-skyggeeffekt */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); /* Boks-skyggeeffekt */
}

/* Stiler for aksepteringsknapp i policy */
button.accept-policy {
    font-size: 100rem; /* Fontstørrelse for aksepteringsknapp (ser ut som en feil, kanskje 1rem er mer passende) */
    line-height: inherit;
}

/* Stiler for bunnteksten */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(63, 95, 131, 0.85); /* Bakgrunnsfarge for bunntekst */
}

/* Stiler for teksten i bunnteksten */
.footer .footer-text {
    color: #9cb7c2; /* Tekstfarge */
    text-decoration: none;
}

/* Stiler for navigasjonsikon */
.custom-navbar a.navbar-icon {
    padding: 40px; /* Mellomrom rundt ikonet */
}

/* Stiler for ikonet generelt */
.icon {
    height: auto;
    width: 200px; /* Bredde på ikonet */
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    padding: 5px;
    margin-right: 2rem;
    margin-left: 1rem;
}

/* Generelle lenkestiler */
a {
    color: #0077cc; /* Generell lenkefarge */
}
