header {
    width: 100%;
    font-size: x-large;
    position: relative;
    top: 0;
    z-index: 999;
    display: flex;
}

    header .nav {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: calc(100% - 141px); /* Kalkulerer 100% minus bredden på logg inn knappen */
        margin: 0;
        align-items: center;
    }
        /* Styler navbar <a> elementene */
        header .nav a {
            font: 700 18px/1.3 DinPro,Arial,sans-serif;
            color: black;
            text-transform: uppercase;
            text-decoration: none;
            padding: 25px;
            border-right: 1px solid #393439;
            border-bottom: 4px solid transparent;
        }

            header .nav a:hover,
            header a.right:hover {
                color: gray;
                transition: .45s ease;
            }

            header .nav a.active,
            header a.right.active {
                border-bottom: 4px solid white;
            }

    header a.active2 {
        color: black;
    }

    header a.right {
        border-right: 1px solid #393439;
        border-left: 1px solid #393439;
        float: right;
        font: 700 18px/1.3 DinPro,Arial,sans-serif;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        padding: 25px;
        min-width: 141px;
        border-bottom: 4px solid transparent;
    }

/* For å plasere dropdown innholdet */
.dropdown {
    position: relative;
    display: flex;
}
/* Gjør at innholdet er sjult */
.dropdown-innhold {
    display: none;
    position: absolute;
    background-color: #1e191e;
    z-index: 1;
    margin-top: 77px;
    width: calc(100% - 1px);
}

    .dropdown-innhold a {
        color: black;
        border-top: 1px solid #393439;
        padding: 25px;
        min-width: 100%;
        text-decoration: none;
        text-align: center;
        border-right: 1px solid transparent;
    }
/* Viser innholdet når man hover over det*/
.dropdown:hover .dropdown-innhold {
    display: flex;
    flex-wrap: wrap;
}

/* Gjør MMA skriften helt til venstre se ut som en logo */
header .logo {
    border: 1px solid transparent;
    color: black;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    margin-left: 1px;
    margin-right: 1px;
    text-decoration: none;
    display: flex; /* Bare for å kunne bruke koden align-items som setter den i midten på Y linjen */
    align-items: center;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

