@model Nøsted_Serviceordre_Behandling.Models.Serviceordre

@{
    ViewData["Title"] = "Details";
}

<!-- Styling for the page -->
<style>
    html, body {
        background-color: #d9e5eb;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: #313638;
    }

    h1, h4 {
        text-align: center;
    }

    /* Styling for buttons */
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #88afc2;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: black;
    }

    .button-container {
        text-align: center;
    }

    .button-list {
        text-align: center;
        margin-top: -78px;
    }

    /* Hover effect for buttons */
    .button:hover {
        background-color: rgb(251, 114, 19);
        color: #9cb7c2;
    }
</style>

<!-- Heading for the page -->
<h1>Detaljer</h1>

<!-- Displaying details of the service order -->
<div>
    <h4>Serviceordre</h4>
    <hr />
    <!-- Definition list for displaying service order details -->
    <dl class="row">
        <!-- Display service order property names and values -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <!-- Repeat the above structure for other properties of the service order -->
    </dl>
</div>

<!-- Button container for edit and back to list buttons -->
<div class="links button-container">
    <!-- Edit button with a link to the Edit action -->
    <a asp-action="Edit" asp-route-id="@Model?.id" class="button">Edit</a>
    <!-- Back to List button with a link to the Index action -->
    <a asp-action="Index" class="button button-list">Back to List</a>
</div>
