@model Nøsted_Serviceordre_Behandling.Models.Serviceordre

@{
    ViewData["Title"] = "Edit";
}

<!-- Styling for the page -->
<style>
    html, body {
        background-color: #d9e5eb;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: #313638;
    }

    h1, h4 {
        text-align: center;
    }

    /* Styling for buttons */
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #88afc2;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: black;
    }

    /* Hover effect for buttons */
    .button:hover {
        background-color: rgb(251, 114, 19);
        color: #9cb7c2;
    }

    /* Additional styling for Save button */
    .button-save {
        text-align: center;
        margin-top: 10px; 
    }

    /* Margin adjustment for the Back to List button */
    .button-list{
        margin-top: -78px;
    }

    /* Container styling for buttons */
    .button-container {
        text-align: center;
    }
</style>

<!-- Heading for the page -->
<h1>Redigere</h1>
<h4>Serviceordre</h4>
<hr />

<!-- Form for editing service order details -->
<div class="row">
    <div class="col-md-4 center-content">
        <form asp-action="Edit">
            <!-- Display validation summary for model errors -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Hidden field to store the id of the service order -->
            <input type="hidden" asp-for="id" />
            
            <!-- Input fields for editing service order properties -->
            <div class="form-group">
                <label asp-for="Navn" class="control-label"></label>
                <input asp-for="Navn" class="form-control" />
                <span asp-validation-for="Navn" class="text-danger"></span>
            </div>
            <!-- Repeat the above structure for other properties of the service order -->

            <!-- Save button with custom styling -->
            <div class="form-group button-save button-container">
                <input type="submit" value="Save" class="button button-custom" />
            </div>
        </form>
    </div>
</div>

<!-- Back to List button -->
<div class="links button-container">
    <a asp-action="Index" class="button button-list">Back to List</a>
</div>

<!-- Render partial scripts for validation -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
