@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")">
</head>
<body class="start-page white">

    <div class="blokk">

        <div class="Top">
            NøstedAS

        </div>
        <div class="TopMid">
            <span style="color: rgb(122, 176, 195);">Alt handler om</span><br />
            <span style="color: white;">koblinger</span><span style="color: rgb(251, 114, 19);">.</span>
        </div>

        <div class="Bottom">
            <a asp-area="" asp-controller="ServiceOrder" asp-action="Index"><div class="TextToSite">Serviceordre</div></a>
            <a asp-area="" asp-controller="Behandlet" asp-action="Index"><div class="TextToSite">Behandlet Ordre</div></a>
            <a asp-area="" asp-controller="Verksted" asp-action="Index"><div class="TextToSite">Verksted Status</div></a>
        </div>
    </div>
</body>

