@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")">
</head>
<body class="start-page">





    <div class="blokk">

        <div class="Top">
            NøstedAS

        </div>
        <div class="TopMid">
            <div style="color: rgb(122, 176, 195)"> Alt handler om </div> koblinger

        </div>

        <div class="Bottom">
            <a asp-area="" asp-controller="Dyrehage" asp-action="Index"><div class="TextToSite">Test</div></a>
            <a asp-area="" asp-controller="Sjekkliste" asp-action="Index"><div class="TextToSite">Sjekkliste</div></a>
            <a asp-area="" asp-controller="ServiceOrder" asp-action="Index"><div class="TextToSite">Serviceordre</div></a>
            <a asp-area="" asp-controller="Qwer" asp-action="Index"><div class="TextToSite">#</div></a>
        </div>
    </div>
</body>

