@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    html, body {
        background-color: #d9e5eb;
        margin: 0;
        padding: 0;
        color: #313638;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
